{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Détails de l'article
{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Détails de l'article</h1>

    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>

                <p class="card-text mb-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus autem officiis beatae, nostrum odit adipisci, suscipit ipsa et odio vero quidem recusandae. Reiciendis quos velit dolorum, molestiae corrupti dicta hic suscipit facilis, cupiditate adipisci consectetur odio commodi officia quisquam deleniti architecto natus voluptatibus ipsam et aliquam. Autem officia ad et aperiam maxime odio placeat delectus consequuntur</p>

                <p class="card-text mb-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus autem officiis beatae, nostrum odit adipisci, suscipit ipsa et odio vero quidem recusandae. Reiciendis quos velit dolorum, molestiae corrupti dicta hic suscipit facilis, cupiditate adipisci consectetur odio commodi officia quisquam deleniti architecto natus voluptatibus ipsam et aliquam. Autem officia ad et aperiam maxime odio placeat delectus consequuntur</p>

                <p class="card-text mb-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus autem officiis beatae, nostrum odit adipisci, suscipit ipsa et odio vero quidem recusandae. Reiciendis quos velit dolorum, molestiae corrupti dicta hic suscipit facilis, cupiditate adipisci consectetur odio commodi officia quisquam deleniti architecto natus voluptatibus ipsam et aliquam. Autem officia ad et aperiam maxime odio placeat delectus consequuntur</p>

                <p class="mt-3">
                    <a href="#" class="btn btn-dark">Modifier</a>
                    <a href="#" class="btn btn-dark">Imprimer</a>
                </p>
            </div>
            <div class="col-auto d-none d-lg-block">

                <img src="https://picsum.photos/id/239/300/600" alt="">

            </div>
        </div>
    </div>
    
{% endblock %}