{% extends "base.html.twig" %}

{% block title %}
    Blog | Création d'un article
{% endblock %}

{% block body %}
    
    <h1 class="fst-italic text-center my-4">Création d'un article</h1>

{% endblock %}