{% extends 'base_admin.html.twig' %}

{% block title %}
    BlogSymfony | BackOffice
{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Bienvenue {{ app.user.prenom }} {{ app.user.nom }} !</h1>

    <h4 class="text-center mb-5">Vous êtes dans votre espace BackOffice.</h4>

    <h5 class="text-center">Vous pouvez ici gérer la totalité de votre Blog, le gestion des articles, catégories, commentaires et utilisateurs !</h5>

{% endblock %}
